@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
 }

 button {
  background-color: aquamarine;
  padding: 1rem;
  font-family: inherit;
  font-weight: 400;
  font-size: larger;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.6);
  border: none;
  border-radius: 10px;
  transition: transform 0.1s linear;
 }

 button:focus {
  outline: 10px;
 }

 button:active {
  box-shadow: 0;
  transform: translate(2px, 5px);
 }