@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  box-sizing: border-box; 
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  margin: 0;
 }

 .carousel {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  height: 500px;
  width: 500px;
 }

 .image-container {
  display: flex;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
 }

 img {
  object-fit: cover;
  height: 500px;
  width: 500px;
 }